aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.11.1
alibabacloud-credentials==0.3.2
alibabacloud-endpoint-util==0.0.3
alibabacloud-gateway-dingtalk==1.0.2
alibabacloud-gateway-spi==0.0.1
alibabacloud-openapi-util==0.2.2
alibabacloud-tea==0.3.5
alibabacloud-tea-openapi==0.3.8
alibabacloud-tea-util==0.3.11
alibabacloud-tea-xml==0.0.2
aniso8601==9.0.1
anyio==4.4.0
APScheduler==3.10.1
aria2==0.0.1b0
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.6.2
cachelib==0.12.0
captcha==0.3
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.6
colorama==0.4.6
cryptography==41.0.2
decorator==5.1.1
distlib==0.3.8
exceptiongroup==1.2.1
filelock==3.13.1
Flask==2.3.2
Flask-APScheduler==1.12.4
Flask-DebugToolbar==0.11.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
flask-marshmallow==0.15.0
Flask-Migrate==4.0.4
Flask-RESTful==0.3.10
Flask-Reuploaded==1.3.0
Flask-Session==0.5.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozenlist==1.4.1
greenlet==2.0.2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.6
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
multidict==6.0.5
numpy==1.26.4
packaging==23.1
Pillow==10.0.0
platformdirs==4.2.0
psutil==5.9.5
pycparser==2.21
PyMySQL==1.1.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqt5-tools==5.15.9.3.3
python-dateutil==2.8.2
python-dotenv==0.19.1
pytz==2023.3
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.31.0
six==1.16.0
sniffio==1.3.1
some-package==0.1
soupsieve==2.5
SQLAlchemy==2.0.21
sqlparse==0.4.2
style==1.1.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
update==0.0.1
urllib3==2.2.1
validators==0.20.0
virtualenv==20.25.1
webargs==8.0.1
Werkzeug==2.3.6
WTForms==3.1.2
yarl==1.9.4
zipp==3.16.2
